@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c4t5nh');
  src:  url('fonts/icomoon.eot?c4t5nh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c4t5nh') format('truetype'),
    url('fonts/icomoon.woff?c4t5nh') format('woff'),
    url('fonts/icomoon.svg?c4t5nh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-channels:before {
  content: "\e94e";
}
.icon-price:before {
  content: "\e94f";
}
.icon-time-2:before {
  content: "\e950";
}
.icon-star:before {
  content: "\e94d";
}
.icon-heart-plus:before {
  content: "\e94b";
}
.icon-heart-minus:before {
  content: "\e94c";
}
.icon-sound-bordered-1:before {
  content: "\e943";
}
.icon-sound-bordered-2:before {
  content: "\e944";
}
.icon-sound-bordered-3:before {
  content: "\e945";
}
.icon-sound-muted-bordered:before {
  content: "\e946";
}
.icon-sound-muted-solid:before {
  content: "\e947";
}
.icon-sound-solid-1:before {
  content: "\e948";
}
.icon-sound-solid-2:before {
  content: "\e949";
}
.icon-sound-solid-3:before {
  content: "\e94a";
}
.icon-arrow-bottom1:before {
  content: "\e93e";
}
.icon-arrow-left1:before {
  content: "\e93f";
}
.icon-arrow-right1:before {
  content: "\e940";
}
.icon-arrow-up:before {
  content: "\e941";
}
.icon-reset-font-size:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\e93b";
}
.icon-snapchat:before {
  content: "\e93c";
}
.icon-youtube:before {
  content: "\e93d";
}
.icon-logout-2:before {
  content: "\e93a";
}
.icon-logout:before {
  content: "\e939";
}
.icon-info:before {
  content: "\e938";
}
.icon-message:before {
  content: "\e936";
}
.icon-copy-2:before {
  content: "\e937";
}
.icon-eye-closed:before {
  content: "\e931";
}
.icon-link:before {
  content: "\e932";
}
.icon-plus-circle:before {
  content: "\e933";
}
.icon-question-circle:before {
  content: "\e934";
}
.icon-sort:before {
  content: "\e935";
}
.icon-arrow-circle-bottom:before {
  content: "\e92d";
}
.icon-arrow-circle-left:before {
  content: "\e92e";
}
.icon-arrow-circle-right:before {
  content: "\e92f";
}
.icon-arrow-circle-top:before {
  content: "\e930";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-top:before {
  content: "\e903";
}
.icon-bars:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e909";
}
.icon-chevron-top:before {
  content: "\e90a";
}
.icon-close-circle:before {
  content: "\e90b";
}
.icon-cloud:before {
  content: "\e90c";
}
.icon-copy:before {
  content: "\e90d";
}
.icon-envelope:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e90f";
}
.icon-hand:before {
  content: "\e910";
}
.icon-idea:before {
  content: "\e911";
}
.icon-initiatives:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e914";
}
.icon-list-checked:before {
  content: "\e915";
}
.icon-location:before {
  content: "\e916";
}
.icon-lock:before {
  content: "\e917";
}
.icon-lock-circle:before {
  content: "\e918";
}
.icon-login:before {
  content: "\e919";
}
.icon-microphone:before {
  content: "\e91a";
}
.icon-network:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-productivity:before {
  content: "\e91d";
}
.icon-quote-bottom:before {
  content: "\e91e";
}
.icon-quote-top:before {
  content: "\e91f";
}
.icon-remove:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-settings:before {
  content: "\e922";
}
.icon-time:before {
  content: "\e923";
}
.icon-track:before {
  content: "\e924";
}
.icon-translate:before {
  content: "\e925";
}
.icon-user:before {
  content: "\e926";
}
.icon-user-2:before {
  content: "\e927";
}
.icon-users:before {
  content: "\e928";
}
.icon-wrench:before {
  content: "\e929";
}
.icon-x-twitter:before {
  content: "\e92a";
}
.icon-zoom-in:before {
  content: "\e92b";
}
.icon-zoom-out:before {
  content: "\e92c";
}
