.intro-swiper-wrapper {



    .swiper-slider-wrapper {



        .swiper-container {
            margin-bottom: 0;

            .slide-content {
                padding: 170px 0;
                background-position: center;
                background-size: cover;
                color: #fff;
            }
        }


        .pagination-and-buttons-wrapper {
            margin-top: 0px;
            transform: translate(0, -60px) !important;
            position: relative;
            z-index: 1;
        }

    }

    .social-media-icons-wrapper {
        position: absolute;
        top: 50%;
        right: 16%;
        transform: translate(-50%, -50%);

        @media all and (max-width : 1800px) {
            right: 13%;
        }

        @media all and (max-width : 1600px) {
            right: 8%;
        }

        @media all and (max-width : 1400px) {
            right: 2%;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                list-style: none;
                margin: 0;
                padding: 0;

                a {
                    i {
                        color: #fff;
                        font-size: 18px;
                        width: 40px;
                        height: 40px;
                        border-radius: 500px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        border: 1px solid #fff;
                    }
                }
            }
        }

    }

}