.sent-ideas {
    background-image: url('../images/ideas_section_bg.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .swiper-slider-wrapper {
        .swiper-wrapper {
            .swiper-slide {
                .card {
                    min-height: 270px;
                }
            }
        }
    }
}