.color-primary-light-50 {
    color: var(--color-primary-light-50);
}

.color-primary-light-75 {
    color: var(--color-primary-light-75);
}

.color-primary-light-100 {
    color: var(--color-primary-light-100);
}

.color-primary-light-200 {
    color: var(--color-primary-light-200);
}

.color-primary-light-300,
.color-primary {
    color: var(--color-primary-light-300);
}

.color-primary-light-400 {
    color: var(--color-primary-light-400);
}

.color-primary-light-500,
.color-primary-hover {
    color: var(--color-primary-light-500);
}

.color-primary-dark-50 {
    color: var(--color-primary-dark-50);
}

.color-primary-dark-75 {
    color: var(--color-primary-dark-75);
}

.color-primary-dark-100 {
    color: var(--color-primary-dark-100);
}

.color-primary-dark-200 {
    color: var(--color-primary-dark-200);
}

.color-primary-dark-300 {
    color: var(--color-primary-dark-300);
}

.color-primary-dark-400 {
    color: var(--color-primary-dark-400);
}

.color-primary-dark-500 {
    color: var(--color-primary-dark-500);
}

.color-secondary-light-50 {
    color: var(--color-secondary-light-50);
}

.color-secondary-light-75 {
    color: var(--color-secondary-light-75);
}

.color-secondary-light-100 {
    color: var(--color-secondary-light-100);
}

.color-secondary-light-200 {
    color: var(--color-secondary-light-200);
}

.color-secondary-light-300 {
    color: var(--color-secondary-light-300);
}

.color-secondary-light-400 {
    color: var(--color-secondary-light-400);
}

.color-secondary-light-500 {
    color: var(--color-secondary-light-500);
}

.color-secondary-dark-50 {
    color: var(--color-secondary-dark-50);
}

.color-secondary-dark-75 {
    color: var(--color-secondary-dark-75);
}

.color-secondary-dark-100 {
    color: var(--color-secondary-dark-100);
}

.color-secondary-dark-200 {
    color: var(--color-secondary-dark-200);
}

.color-secondary-dark-300 {
    color: var(--color-secondary-dark-300);
}

.color-secondary-dark-400 {
    color: var(--color-secondary-dark-400);
}

.color-secondary-dark-500 {
    color: var(--color-secondary-dark-500);
}

.color-success-light-50 {
    color: var(--color-success-light-50);
}

.color-success-light-75 {
    color: var(--color-success-light-75);
}

.color-success-light-100 {
    color: var(--color-success-light-100);
}

.color-success-light-200 {
    color: var(--color-success-light-200);
}

.color-success-light-300 {
    color: var(--color-success-light-300);
}

.color-success-light-400 {
    color: var(--color-success-light-400);
}

.color-success-light-500 {
    color: var(--color-success-light-500);
}

.color-success-dark-50 {
    color: var(--color-success-dark-50);
}

.color-success-dark-75 {
    color: var(--color-success-dark-75);
}

.color-success-dark-100 {
    color: var(--color-success-dark-100);
}

.color-success-dark-200 {
    color: var(--color-success-dark-200);
}

.color-success-dark-300 {
    color: var(--color-success-dark-300);
}

.color-success-dark-400 {
    color: var(--color-success-dark-400);
}

.color-success-dark-500 {
    color: var(--color-success-dark-500);
}

.color-warning-light-50 {
    color: var(--color-warning-light-50);
}

.color-warning-light-75 {
    color: var(--color-warning-light-75);
}

.color-warning-light-100 {
    color: var(--color-warning-light-100);
}

.color-warning-light-200 {
    color: var(--color-warning-light-200);
}

.color-warning-light-300,
.color-warning {
    color: var(--color-warning-light-300);
}

.color-warning-light-400 {
    color: var(--color-warning-light-400);
}

.color-warning-light-500 {
    color: var(--color-warning-light-500);
}

.color-warning-dark-50 {
    color: var(--color-warning-dark-50);
}

.color-warning-dark-75 {
    color: var(--color-warning-dark-75);
}

.color-warning-dark-100 {
    color: var(--color-warning-dark-100);
}

.color-warning-dark-200 {
    color: var(--color-warning-dark-200);
}

.color-warning-dark-300 {
    color: var(--color-warning-dark-300);
}

.color-warning-dark-400 {
    color: var(--color-warning-dark-400);
}

.color-warning-dark-500 {
    color: var(--color-warning-dark-500);
}

.color-danger-light-50 {
    color: var(--color-danger-light-50);
}

.color-danger-light-75 {
    color: var(--color-danger-light-75);
}

.color-danger-light-100 {
    color: var(--color-danger-light-100);
}

.color-danger-light-200 {
    color: var(--color-danger-light-200);
}

.color-danger-light-300 {
    color: var(--color-danger-light-300);
}

.color-danger-light-400 {
    color: var(--color-danger-light-400);
}

.color-danger-light-500 {
    color: var(--color-danger-light-500);
}

.color-danger-dark-50 {
    color: var(--color-danger-dark-50);
}

.color-danger-dark-75 {
    color: var(--color-danger-dark-75);
}

.color-danger-dark-100 {
    color: var(--color-danger-dark-100);
}

.color-danger-dark-200 {
    color: var(--color-danger-dark-200);
}

.color-danger-dark-300 {
    color: var(--color-danger-dark-300);
}

.color-danger-dark-400 {
    color: var(--color-danger-dark-400);
}

.color-danger-dark-500 {
    color: var(--color-danger-dark-500);
}

.color-gray-light-100 {
    color: var(--color-gray-light-200);
}

.color-gray-light-200 {
    color: var(--color-gray-light-200);
}

.color-gray-light-300 {
    color: var(--color-gray-light-300);
}

.color-gray-light-400 {
    color: var(--color-gray-light-400);
}

.color-gray-light-500 {
    color: var(--color-gray-light-400);
}

.color-gray-dark-100 {
    color: var(--color-gray-dark-100);
}

.color-gray-dark-200 {
    color: var(--color-gray-dark-200);
}

.color-gray-dark-300 {
    color: var(--color-gray-dark-300);
}

.color-gray-dark-400 {
    color: var(--color-gray-dark-400);
}

.color-gray-dark-500 {
    color: var(--color-gray-dark-500);
}

.color-text-light-50 {
    color: var(--color-text-light-50);
}

.color-text-light-300 {
    color: var(--color-text-300);
}

.color-text-light-200 {
    color: var(--color-text-200);
}

.color-text-light-400 {
    color: var(--color-text-light-400);
}

.color-text-dark-50 {
    color: var(--color-text-dark-50);
}

.color-text-dark-100 {
    color: var(--color-text-dark-100);
}

.color-text-dark-200 {
    color: var(--color-text-dark-200);
}

.color-text-dark-400 {
    color: var(--color-text-dark-400);
}

//////////////

.color-black-light,
.color-black {
    color: var(--color-black-light);
}

.color-black-dark {
    color: var(--color-black-dark);
}

.color-white-light,
.color-white {
    color: var(--color-white);
}

.color-white-dark {
    color: var(--color-white-dark);
}


//////////////

.background-1-light {
    background: var(--background-1-light);
}

.background-2-light {
    background: var(--background-2-light);
}

.background-1-dark {
    background: var(--background-1-dark);
}

.background-2-dark {
    background: var(--background-2-dark);
}


//////////////

.button-text-light {
    color: var(--button-text-light);
}

.button-text-dark {
    color: var(--button-text-dark);
}


/////////////