.me-1 {
    margin-inline-end: .25rem !important;
}

.me-2 {
    margin-inline-end: .5rem !important;
}

.me-3 {
    margin-inline-end: 1rem !important;
}

.me-4 {
    margin-inline-end: 1.5rem !important;
}

.me-5 {
    margin-inline-end: 3rem !important;
}

.me-auto {
    margin-inline-end: auto !important;

}

.ms-1 {
    margin-inline-start: .25rem !important;
}

.ms-2 {
    margin-inline-start: .5rem !important;
}

.ms-3 {
    margin-inline-start: 1rem !important;
}

.ms-4 {
    margin-inline-start: 1.5rem !important;
}

.ms-5 {
    margin-inline-start: 3rem !important;
}

.ms-auto {
    margin-inline-start: auto !important;

}

.pe-1 {
    margin-inline-end: .25rem !important;
}

.pe-2 {
    margin-inline-end: .5rem !important;
}

.pe-3 {
    margin-inline-end: 1rem !important;
}

.pe-4 {
    margin-inline-end: 1.5rem !important;
}

.pe-5 {
    margin-inline-end: 3rem !important;
}

.ps-1 {
    margin-inline-start: .25rem !important;
}

.ps-2 {
    margin-inline-start: .5rem !important;
}

.ps-3 {
    margin-inline-start: 1rem !important;
}

.ps-4 {
    margin-inline-start: 1.5rem !important;
}

.ps-5 {
    margin-inline-start: 3rem !important;
}


.gap-1 {
    gap: .25rem !important;
}

.gap-2 {
    gap: .5rem !important;
}

.gap-3 {
    gap: 1rem !important;
}

.gap-4 {
    gap: 1.5rem !important;
}

.gap-5 {
    gap: 3rem !important;
}

.relative {
    position: relative;
}

.icon {
    font-size: calc(1rem * var(--font-size-scale));

    &.icon-xxs {
        font-size: calc(0.5rem * var(--font-size-scale));
    }

    &.icon-xs {
        font-size: calc(0.7rem * var(--font-size-scale));
    }

    &.icon-sm {
        font-size: calc(0.8rem * var(--font-size-scale));
    }

    &.icon-lg {
        font-size: calc(1.2rem * var(--font-size-scale)) !important;
    }

    &.icon-xl {
        font-size: calc(1.5rem * var(--font-size-scale)) !important;
    }

    &.icon-xxl {
        font-size: calc(2rem * var(--font-size-scale));
    }

    &.icon-xxxl {
        font-size: calc(2.5rem * var(--font-size-scale));
    }

}



.show-lines-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.show-lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.show-lines-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

small,
.small {
    font-size: calc(13px * var(--font-size-scale));
}

.no-border {
    border: none !important;
}

.base-border {
    border: var(--base-border) !important;
}

.base-box-shadow {
    box-shadow: var(--box-shadow) !important;
}

.base-border-light {
    border: var(--base-border) !important;
    border-color: var(--color-gray-light-200) !important;
}

.border-primary {
    border-color: var(--color-primary-light-300) !important;
}

.border-primary-light {
    border-color: var(--color-primary-light-100) !important;
}

.border-radius-lg {
    border-radius: var(--border-radius-lg) !important;
}

.base-border-radius {
    border-radius: var(--border-radius);
}

.border-radius-sm {
    border-radius: var(--border-radius-sm);
}

.border-radius-xs {
    border-radius: var(--border-radius-xs);
}


.cover,
.object-cover,
.object-fit-cover {
    object-fit: cover;
}


.contain,
.object-contain,
.object-fit-contain {
    object-fit: contain;
}









.color-success {
    color: var(--color-success-light-300);
}

.color-danger {
    color: var(--color-danger-light-300) !important;
}

.color-gray,
.text-gray {
    color: #464747;
}

.color-gray-light,
.text-gray-light {
    color: var(--color-gray-light-200);
}

.color-white {
    color: #FFF !important;
}


.bg-gray {
    background-color: var(--background-2);
}


.bg-black {
    background-color: #000;
}

.bg-primary-faded {
    background-color: var(--color-primary-light-50);
}


.bg-warning {
    background-color: var(--color-warning-light-300) !important;
}



.bg-warning-dark {
    background-color: var(--color-warning-light-500) !important;
}

.color-warning-dark {
    color: var(--color-warning-light-500) !important;
}



.bg-danger-light {
    background-color: var(--color-danger-light-200) !important;
}

.color-danger-light {
    color: var(--color-danger-light-200) !important;
}




















.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}


.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}


.line-height-1 {
    line-height: 1 !important;
}

.line-height-1-5 {
    line-height: 1.5 !important;
}

.line-height-2 {
    line-height: 2 !important;
}

.line-height-2-5 {
    line-height: 2.5 !important;
}

.line-height-3 {
    line-height: 3 !important;
}

.line-height-4 {
    line-height: 4 !important;
}

.w-fit-content {
    width: fit-content !important;
}

.pb-60px {
    padding-bottom: 60px;
}

.cursor-auto {
    cursor: auto !important;
}

///////// Text alignment /////////

.text-wrap-auto {
    text-wrap: auto;
}

.text-start {
    text-align: start !important;
}

.text-end {
    text-align: end !important;
}

.text-center {
    text-align: center !important;
}

@media all and (min-width : $breakpoint-lg) {
    .text-lg-start {
        text-align: start !important;
    }

    .text-lg-end {
        text-align: end !important;
    }

    .text-lg-center {
        text-align: center !important;
    }
}

////////// Flexbox /////////

.flex-wrap {
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media all and (min-width : $breakpoint-lg) {

    .flex-lg-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-lg-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-lg-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .flex-lg-end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}


@media all and (min-width : $breakpoint-lg) {

    .justify-lg-content-end {
        justify-content: end !important;
    }

    .justify-lg-content-start {
        justify-content: start !important;
    }

    .justify-lg-content-center {
        justify-content: center !important;
    }

}



.row-gap-1 {
    row-gap: .25rem !important;
}

.row-gap-2 {
    row-gap: .5rem !important;
}

.row-gap-3 {
    row-gap: 1rem !important;
}

.row-gap-4 {
    row-gap: 30px !important;
}

.row-gap-5 {
    row-gap: 3rem !important;
}



.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
}

.aspect-ratio-427-383 {
    aspect-ratio: 427 / 383;
}


.aspect-ratio-1-1-2 {
    aspect-ratio: 1 / 1.2;
}

////////////// Width and Height utilities /////////

/* Width classes */
@for $i from 1 through 100 {
    .w-#{$i * 5}px {
        width: #{$i * 5}px;
        min-width: #{$i * 5}px;
    }
}

/* Height classes */
@for $i from 1 through 100 {
    .h-#{$i * 5}px {
        height: #{$i * 5}px;
        min-height: #{$i * 5}px;
    }
}